<div class="row about">
  <div class="col l6 s12">
    <h1>Hi, I'm Baska</h1>
    <h1>I'm a developer + designer</h1>
    <h1>I try to keep a positive attitude and strive to be the best self I can be</h1>
  </div>
  <div class="col l6 s12">
    <img src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAApVAAAAJGRlNjc5NjU5LWViYjMtNDdlOS1iMWIyLWQ0ZGI5NmMwYThmYQ.jpg" alt="baska-portrait">
  </div>
</div>