<div class="container">
  <ul>
    <li>I am aspire to be full web stack developer that writes beautiful code.</li>

    <li>I come from a design background, which allows me to bring a different perspective to problems.</li>

    <li>My decision to transition my career from designer to developer was influenced by my need to always challenge myself.</li> 

    <li>I try to keep a positive attitude and strive to be the best self I can be.</li>
  </ul>
</div>