<ul class="left">
  <li>Hi, I'm Baska</li>
  <li>I am a full web stack developer.</li>
  <li>I try to keep a positive attitude and strive to be the best self I can be.</li>
</ul>
<div class="right">
  <img src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAApVAAAAJGRlNjc5NjU5LWViYjMtNDdlOS1iMWIyLWQ0ZGI5NmMwYThmYQ.jpg" alt="baska-portrait">
</div>
