<div class="container contact">
  <p><a href="mailto:baskabatbold@gmail.com">baskabatbold@gmail.com</a></p>
  <p><a href="https://www.linkedin.com/in/itsbaska">linkedin.com/in/itsbaska</a></p>
  <p><a href="https://www.instagram.com/itsbaska">@itsbaska</a></p>
</div>