html {
  background-color: #e25957;
}

.container {
  background-color: #fff;
  filter: drop-shadow(0 10px 10px #333);
  padding: 5%;
  margin: 5%;
  box-sizing: border-box;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.sign {
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.sign h1 {
  font-size: 8em;
  padding-bottom: 0;
}

.sign h2 {
  font-size: 2em;
}

#logo img {
  width: 50px;
  position: absolute;
  right: 3em;
  top: 3em;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

nav ul {
  padding-left: 0;
}

nav li {
  list-style: none;
  padding-left: 0;
}

nav a {
  text-decoration: none;
}

/*  ul {
    list-style: none;
    text-align: right;
    padding-right: 3em;
    .category {
      font-weight: 700;
      font-size: 0.7em;
      text-transform: uppercase;
      color: #33acb7;
    }
    li {
      padding: .5em 0;
      a {
        color: #9eafba;
        text-decoration: none;
      }
    }
  }
}*/
