@import "materialize/components/color-variables";
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$button-color: #845ec2;
$gradient: linear-gradient(to right top, #845ec2, #e65faa, #ff8080, #ffbb61, #f9f871);

nav {
  background-color: white;
  box-shadow: none !important;
}

nav a {
  color: #000 !important;
}

nav li {
  text-transform: uppercase;

}

nav ul a {
  transition: border-width 0.3s linear;
}

nav ul a:hover {
  background-color: transparent;
  border-bottom: 3px solid;
}

html {
  background-image: $gradient !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.contact-icons {
  margin: 15px 0;
}

.contact-icons svg {
  margin: 0 5px;
}

.page-footer {
  background-color: transparent !important;
  color: #fff !important;
}

.page-footer .row {
  display: flex;
  justify-content: space-evenly;
}

.about img {
  box-shadow: 5px 5px #845ec2;
}
.page-footer a {
  color: #fff
}

.page-footer svg {
  margin-right: 10px;
}

h1 {
  font-size: 1.8rem !important;
  font-weight: bold !important;
  color: #fff;
  text-shadow: 2px 2px #845ec2;
}

.secondary-title {
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.secondary-info {
  font-style: italic;
  margin: 0 0 10px 0;
}

label {
  color: #fff;
  font-size: 1rem !important;
}

textarea {
  padding: 20px;
  background-color: #fff;
  min-height: 200px;
}

input[type=text] {
  border-bottom: 1px solid #fff !important;
}

input[type=text]:focus {
  box-shadow:  0 2px 0 0 #fff !important;
}
h4 {
  font-size: 1.25rem !important;
}  

.experience li, .education li {
  margin-bottom: 60px;
}
.brand-logo {
  font-weight: bold;
  font-size: 20vw;
  background: $gradient;
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.comment-time,
.date {
  font-style: italic;
  color: #845ec2;
}

.comment {
  border-bottom: 1px solid #fff;
}

